@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme {
    --color-primary: #277C78;
    --color-beige-100: #F8F4F0;
    --color-beige-500: #98908B;
    --color-gray-100: #F2F2F2;
    --color-gray-300: #B3B3B3;
    --color-gray-500: #696868;
    --color-gray-900: #201F24;
    --color-secondary-green: #277C78;
    --color-secondary-yellow: #F2CDAC;
    --color-secondary-cyan: #82C9D7;
    --color-secondary-navy: #626070;
    --color-secondary-red: #C94736;
    --color-secondary-purple: #826CB0;
    --color-other-pink: #AF81BA;
    --color-other-turqoise: #597C7C;
    --color-other-brown: #93674F;
    --color-other-magenta: #934F6F;
    --color-other-blue: #3F82B2;
    --color-other-navy-gray: #97A0AC;
    --color-other-army-green: #7F9161;
    --color-other-gold: #CAB361;
    --color-other-orange: #BE6C49;
    --color-white: #FFFFFF;
    --color-info: #3b82f6;     
    --color-success: #16a34a; 
    --color-warning: #facc15;  
    --color-error: #ef4444;   
    --color-neutral: #6b7280;  
}
